
#map_canvas { height: 100%; width:100%; }
#map_canvas img { float: right; padding-bottom: 8px; }
#map_canvas h5 { clear: both; }

/* Muted text */
.mute { color: #77787b; font-size: 12px; }
p.mute { margin: 0; }

/* footer text */
.footer { color: #77787b; font-size: 12px; }
p.footer { margin-bottom: 0.4em; }

/* search */
input, select, textarea { color: #414042; font-size: 1em; }
textarea { height: 10em; }
#search { font-size: 16px; }
#search .txt { width: 100%; }

/* Options */
.options-h, .options-v { list-style: none; margin: 0 0 1em 0; padding: 0; }
td .options-h, td .options-v { margin: 0; }
.options-h input, .options-v input { margin-bottom: -0.05em; }
.options-h img { border-bottom: 3px solid #fff; padding: 5px; vertical-align: middle; }
.options-h li, .options-v li { background: none; clear: both; margin-bottom: 0.3em; padding: 0; }
.options-h li { display: inline; margin-right: 0.7em; white-space: nowrap; }
.options-v li { padding-left: 25px; text-indent: -25px; }
.options-v li p { margin: 0; text-indent: 0; }

#amount-range, #year-range { margin: 0.5em 4em 0.5em 0.5em; width: 95%; }

#layer-button-projects { color: #FF6666; font-weight: bold; }
#layer-button-wards { color: #80B16A; font-weight: bold; }
#layer-button-districts { color: #3D85C6; font-weight: bold; }

.tagline { font-size: 13px; }
.ui-slider-horizontal { height: 0.4em;}
.ui-slider .ui-slider-handle { height: 0.9em; width: 0.9em; }
.yellow { color: #cccc33; }
